<div class="before"><ng-content select="title-before" /></div>

<div class="title">
  <h1>
    {{ title() }}
    @if (!title()) {
      <app-skeleton-line />
    }
  </h1>

  @let breadcrumValue = breadcrumb();
  @if (breadcrumValue) {
    <div class="breadcrumb">
      @for (crumb of breadcrumValue; track crumb; let idx = $index) {
        <a [routerLink]="crumb.url"
          >{{ crumb.title }}
          @if (!crumb.title) {
            <app-skeleton-line />
          }
        </a>
        @if (idx !== breadcrumValue.length - 1) {
          <span>&gt;</span>
        }
      }
    </div>
  }
</div>

<div class="actions"><ng-content /></div>
