:host {
  width: 100%;

  margin-top: 1rem;
  margin-bottom: 1rem;

  display: flex;
  align-items: flex-end;
  flex-direction: row;
  flex-wrap: wrap;
}

:host.sticky {
  position: sticky;
  top: 72px;
  z-index: 10;

  &::before {
    content: '';
    width: 100vw;
    height: 4.75rem;

    position: absolute;
    top: -.5rem;
    left: 50%;
    z-index: -1;
    transform: translateX(-50%);

    background-color: rgba(255, 255, 255, 0.6);
    border-bottom: 1px solid white;
    backdrop-filter: blur(20px);
  }
}

.before:not(:empty) {
  margin-right: 1rem;
  align-self: end;
}

h1 {
  margin: 0;

  skeleton-line {
    width: 20ch;
  }
}

.breadcrumb {
  a, span {
    color: #777;
    font-size: 0.875rem;
    font-variant: small-caps;
  }

  a:hover {
    color: #444;
  }

  a:last-child:not(:hover) {
    text-decoration: none;
  }

  span {
    margin: 0 0.25rem;
  }

  skeleton-line {
    width: 10ch
  }
}

.actions {
  margin-top: 1rem;
  flex-grow: 1;

  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap-reverse;
  gap: 0.5rem;
}
