@let albumValue = album();

<a
  [routerLink]="getAlbumUrl()"
  [ngClass]="{ 'to-be-released': !isReleased(), 'can-open-unreleased': canOpenUnreleasedAlbums$ | async }">
  <div class="cover-photo">
    @if (getCoverPhoto(); as photoSrc) {
      <img [ngSrc]="photoSrc" class="cover-photo" alt="" fill />
    }

    @if (albumValue !== undefined && albumValue?.hidden_secret) {
      <mat-icon class="hidden">lock_open</mat-icon>
    }

    @if (albumValue !== undefined && !isReleased()) {
      <div class="scheduled">
        <mat-icon>access_time</mat-icon>
        <span>
          {{ albumValue?.release_time | date: 'HH:mm' }}<br />
          {{ albumValue?.release_time | date: 'mediumDate' }}
        </span>
      </div>
    }
  </div>

  @if (albumValue !== undefined) {
    <h4>{{ albumValue?.name }}</h4>
    <span class="detail"> {{ albumValue?.timestamp | relativeDate }} • {{ albumValue?.photos_count }} photos </span>
  } @else {
    <h4><app-skeleton-line /></h4>
    <span class="detail"><app-skeleton-line /></span>
  }
</a>
