:host {
  width: 100%;

  margin-top: 1rem;
  margin-bottom: 1rem;

  display: flex;
  align-items: flex-end;
  flex-direction: row;
  flex-wrap: wrap;
}

.breadcrumb {
  width: 100%;

  a, span {
    color: #777;
    font-size: 0.875rem;
    font-variant: small-caps;
  }

  a:hover {
    color: #444;
  }

  a:last-child:not(:hover) {
    text-decoration: none;
  }

  span {
    margin: 0 0.25rem;
  }
}

h1 {
  margin: 0;
}

.actions {
  flex-grow: 1;

  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
}
