.root {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000000;

  padding: 4rem;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  background-color: #1976d2;
  opacity: 0;

  transition: opacity 300ms ease;

  pointer-events: none;

  img {
    flex-shrink: 1;

    max-width: 100%;
    max-height: 100%;

    background-color: white;
    border-radius: 2rem;

    object-fit: contain;
  }
}

.root.can-drop {
  opacity: 1;
  pointer-events: unset;
}

.instructions {
  margin-top: 2rem !important;

  color: white;
}

.copyright {
  margin-top: 1rem;

  color: white;
  font-size: 0.75rem;
}