.image {
  aspect-ratio: 1;
}

.image > img {
  width: 95%;
  height: 95% !important;
  object-fit: contain;

  border-radius: 1rem;
}

.image .options {
  width: fit-content;
  height: fit-content;

  position: absolute;
  top: 0.25rem;
  right: 0.25rem;
  z-index: 10;

  > svg {
    color: rgba(255, 255, 255, 0.75);
    //filter: drop-shadow(0px 2px 4px -1px rgba(0,0,0,0.2),
    //        0px 4px 5px 0px rgba(0,0,0,0.14),
    //        0px 1px 10px 0px rgba(0,0,0,0.12));
  }
}

.loading {
  width: 95% !important;
  height: 95% !important;
  border-radius: 1rem;
}
