.actions {
  width: 100%;

  display: flex;
  justify-content: flex-end;

  margin: 0.5rem 0;

  > * { margin-left: 0.5rem !important; }
}

.sort-menu {
  > :not(:first-child) {
    margin-left: -1;
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

    button {
      margin-left: -1;
      border-left: 1px solid transparent;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  > :not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

    button {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  button {
    //margin: 0;
    padding: 7px;
  }
}
