<app-title-section
  [breadcrumb]="breadcrumb$ | async"
  [title]="(albumService.album.data$ | async)?.name"
  [sticky]="true">
  <ng-container ngProjectAs="title-before">
    @let album = albumService.album.data$ | async;
    @let cover = album ? album.cover_photo : null;

    @if (cover) {
      <img class="cover-photo" [src]="cover.img_urls.small" alt="Album cover" />
    } @else {
      <app-skeleton class="cover-photo" />
    }
  </ng-container>

  @if (albumService.album.data$ | async; as album) {
    @if (!selectMode()) {
      <button mat-icon-button (click)="shareService.shareAlbum(album)" matTooltip="Share album">
        <mat-icon>share</mat-icon>
      </button>
    }
    @if (!selectMode()) {
      <mat-button-toggle-group [formControl]="photoSortField" [hideSingleSelectionIndicator]="true">
        <mat-button-toggle matTooltip="Sort by time taken" value="taken">
          <mat-icon>photo_camera</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle matTooltip="Sort by time uploaded" value="upload">
          <mat-icon>cloud</mat-icon>
        </mat-button-toggle>
      </mat-button-toggle-group>
    }
    @if (!selectMode()) {
      <app-button-group>
        @if ((accountService.canUpload$ | async) || (accountService.canManageOther$ | async)) {
          <button mat-stroked-button (click)="selectMode.set(true)">
            <mat-icon>check_box_outline_blank</mat-icon>
            SELECT
          </button>
        }
        @if (accountService.canUpload$ | async) {
          <button mat-flat-button (click)="uploadPhotos()">
            <mat-icon>upload</mat-icon>
            UPLOAD
          </button>
        }
      </app-button-group>
    } @else {
      <app-button-group>
        <button mat-stroked-button (click)="stopSelect()">
          <mat-icon>check_box</mat-icon>
          SELECT
        </button>
        @if (selected!.selected.length === 0) {
          <button mat-stroked-button (click)="selectAll()">
            <mat-icon>clear_all</mat-icon>
            ALL
          </button>
        }
        @if (selected!.selected.length > 0) {
          <button mat-stroked-button (click)="selected.clear()">
            <mat-icon>clear_all</mat-icon>
            CLEAR
          </button>
        }
        <button mat-flat-button [matMenuTriggerFor]="photoMenu">
          <mat-icon style="margin-right: -1rem">expand_more</mat-icon>
        </button>
      </app-button-group>
      <mat-menu #photoMenu="matMenu" xPosition="before">
        <button mat-menu-item (click)="addSelectedToOther()" [disabled]="selected!.selected.length === 0">
          <mat-icon>library_add</mat-icon>
          Add to other albums
        </button>
        <button mat-menu-item (click)="reprocessSelected()" [disabled]="selected!.selected.length === 0">
          <mat-icon>autorenew</mat-icon> Re-process
          <span class="hint">Re-generates photos and watermarks</span>
        </button>
        <mat-divider />
        <button mat-menu-item (click)="removeSelected()" [disabled]="selected!.selected.length === 0">
          <mat-icon>remove</mat-icon> Remove from album
          <span class="hint">Removes selected photos from THIS album</span>
        </button>
        <button mat-menu-item (click)="deleteSelected()" [disabled]="selected!.selected.length === 0">
          <mat-icon>delete</mat-icon> Delete
          <span class="hint">Permanently deletes the selected photos from ALL albums</span>
        </button>
      </mat-menu>
    }
    @if (!selectMode() && (accountService.canManageAlbums$ | async)) {
      <button mat-icon-button [matMenuTriggerFor]="albumMenu">
        <mat-icon>more_vert</mat-icon>
      </button>
    }
    <mat-menu #albumMenu="matMenu" xPosition="before">
      <button mat-menu-item (click)="editAlbum()"><mat-icon>edit</mat-icon> Edit album</button>
      <button mat-menu-item (click)="deleteAlbum()"><mat-icon>delete</mat-icon> Delete album</button>
    </mat-menu>
  }
</app-title-section>

@if (albumService.album.data$ | async; as album) {
  @if (album.hidden_secret) {
    <p class="note">
      <mat-icon>warning</mat-icon>
      <b>This is a hidden album!</b> Be careful when sharing it with others...
    </p>
  }
  <app-album-gallery
    [album]="albumService.album.data$ | async"
    [photos]="photos$ | async"
    [select]="selected"
    [selectMode]="selectMode()" />
}

@if (isReprocessing()) {
  <div class="loading-overlay">
    <div class="spinner-container">
      <mat-spinner></mat-spinner>
      <p>Reprocessing photos...</p>
    </div>
  </div>
}
