<title-section
  [breadcrumb]="breadcrumb$ | async"
  [title]="(albumService.album.data$ | async)?.name"
>
<!--  <button mat-stroked-button (click)="createAlbum()">-->
<!--    <mat-icon>add</mat-icon>-->
<!--    ALBUM-->
<!--  </button>-->

  <button mat-icon-button [matMenuTriggerFor]="albumMenu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #albumMenu="matMenu">
    <button mat-menu-item (click)="editAlbum()"><mat-icon>edit</mat-icon>EDIT ALBUM</button>
    <button mat-menu-item (click)="emptyAlbum()"><mat-icon>clear</mat-icon>EMPTY ALBUM</button>
    <button mat-menu-item (click)="deleteAlbum()"><mat-icon>delete</mat-icon>DELETE ALBUM</button>
  </mat-menu>
</title-section>

<album-gallery [album]="albumService.album.data$ | async" [photos]="photos$ | async" [select]="null" />
