.album {
  width: 100%;

  cursor: pointer;

  align-items: stretch;

  color: black;
  text-decoration: none;

  img {
    width: 100%;
    aspect-ratio: 1.5;
    object-fit: cover;
  }

  &.timer {
    pointer-events: none;
  }

  &.timer .cover {
    filter: grayscale(1) opacity(0.8);
  }

  .cover {
    width: 100%;
    height: unset !important;
    aspect-ratio: 1.5;
    position: relative;

    img {
      width: 100%;
      aspect-ratio: 1.5;
      object-fit: cover;
    }

    .timer {
      width: 100%;
      height: 100%;

      position: absolute;
      top: 0;
      left: 0;
      z-index: 50;

      display: flex;
      align-items: center;
      justify-content: center;

      color: black;
      font-size: 1.5rem;
      font-weight: bold;
      line-height: 1.5rem;

      //filter: contrast(0) brightness(500) contrast(100) drop-shadow(0px 1px 10px rgba(0,0,0,0.12));
      filter: contrast(0) brightness(500) contrast(100) drop-shadow(0px 0px 2px rgba(0,0,0,1));
    }

    .timer::before {
      content: '';
      width: 2rem;
      height: 2rem;
      display: block;

      margin-right: 0.5rem;
      margin-bottom: 0.2rem;

      background-image: url('../../res/graphics/clock-outline.svg');
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }

    svg {
      color: white;

      position: absolute;
      z-index: 5;

      transform: translate(-125%, 25%) rotate(-15deg);
      animation: jiggle 300ms ease alternate infinite;
      filter: drop-shadow(-1px 1px 2px rgba(1,1,1,0.8));
    }

    @keyframes jiggle {
      from {transform: translate(-125%, 25%) rotate(-5deg);}
      to {transform: translate(-125%, 25%) rotate(5deg);}
    }
  }
}

.album .secret::after,
.album .future::after {
  content: '';
  width: 100%;
  height: 100%;
  display: block;

  position: absolute;
  top: 0;
  left: 0;

  background-color: rgba(0, 0, 0, 0.5);
  mask-mode: alpha;
  mask-position: center;
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-type: alpha;
}

.album .secret::after {
  mask-image: url('../../res/graphics/eye-off.svg');
}

.album .future::after {
  mask-image: url('../../res/graphics/clock-outline.svg');
}

.placeholder > span:first-child {
  width: 100% !important;
  height: unset !important;
  aspect-ratio: 1.5;
}
