@use "sass:map";
@use "@angular/material" as mat;
@use "./bata.scssm3-theme";

//@import '@mat-datetimepicker/core/datetimepicker/datetimepicker-theme.scss';

@include mat.core();

html {
  @include mat.core-theme(bata.$theme);
  @include mat.all-component-themes(bata.$theme);
  //@include mat-datetimepicker-theme(bata.$theme);

  @include bata.theme-colors();
}

@include mat.typography-hierarchy(bata.$theme);

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
* { box-sizing: border-box; }

.secondary-button {
  @include mat.button-color(bata.$theme, $color-variant: secondary);
}

.error-button {
  @include mat.button-color(bata.$theme, $color-variant: error);
}
