:host {
  width: 100%;
  top: 0;
  bottom: 0;

  display: flex;
  flex-direction: column;

  backdrop-filter: blur(20px);
  background: rgba(0, 0, 0, 0.2);
  background: radial-gradient(circle, transparent 0, rgba(0, 0, 0, .4) 60%, rgba(0, 0, 0, .8) 100%);
}

mat-toolbar {
  flex-shrink: 0;
  padding: 0 1rem;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  background: rgba(0, 0, 0, 0.25);
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  filter: drop-shadow(1px 1px 1px black);

  > button, mat-chip mat-icon {
    color: white;
  }

  mat-chip {
    margin-right: 0.5rem;
    &:last-of-type {
      margin-right: 1rem;
    }
  }
}

:host mat-toolbar mat-chip ::ng-deep span {
  color: white;
}

div.content {
  flex-grow: 1;
  flex-shrink: 1;

  position: relative;
}

div.content img.current {
  max-width: calc(100% - 2rem);
  max-height: calc(100% - 2rem);

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background: rgba(255, 255, 255, 0.1);
  pointer-events: none;
}

div.content img.preview {
  width: 0;
  height: 0;
  display: none;
}

div.content button[mat-icon-button] {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;

  color: white;
  background: rgba(255, 255, 255, 0.05);

  &:hover {
    background: rgba(255, 255, 255, 0.1);
  }

  &.previous {
    left: 1rem;
  }

  &.next {
    right: 1rem;
  }
}
