<app-title-section
  [breadcrumb]="breadcrumb$ | async"
  [title]="(eventService.event.data$ | async)?.name"
  [sticky]="true">
  @if (accountService.canManageAlbums$ | async) {
    <button mat-stroked-button (click)="createAlbum()">
      <mat-icon>add</mat-icon>
      ALBUM
    </button>
  }

  @if (accountService.canManageEvents$ | async) {
    <button mat-icon-button [matMenuTriggerFor]="eventMenu">
      <mat-icon>more_vert</mat-icon>
    </button>
  }
  <mat-menu #eventMenu="matMenu">
    <button mat-menu-item (click)="editEvent()">
      <mat-icon>edit</mat-icon>
      Edit event
    </button>
    <button
      mat-menu-item
      (click)="deleteEvent()"
      [disabled]="(canDelete$ | async) === false"
      [matTooltip]="
        (canDelete$ | async) ? '' : 'You can only delete an event after all of its albums have been deleted.'
      "
      matTooltipPosition="left">
      <mat-icon>delete</mat-icon>
      Delete event
    </button>
  </mat-menu>
</app-title-section>

@let tags = tagsStore.tags();
@if (tags !== null && tags.length > 0) {
  <div class="tags">
    <div class="tags-title">
      <mat-icon>dynamic_feed</mat-icon>
      <h3>Dynamic albums</h3>
    </div>

    @for (tag of tags; track tag) {
      <a mat-stroked-button class="tag secondary-button">
        <mat-icon>photo_library</mat-icon>
        <span class="tag-name">{{ tag.tag_description }}</span>
        @if (tag.supports_value) {
          <mat-icon iconPositionEnd>more_horiz</mat-icon>
        }
      </a>
    }
  </div>
}

@if (albums$ | async; as albums) {
  <div class="album-list">
    @for (index of getAlbumGroupIndices(albums); track index) {
      @if (index) {
        <h3>{{ configService.config.albums.groupName(index) }}</h3>
      }
      @for (album of albums[index]; track album) {
        <app-album [album]="album" />
      }
    }
  </div>
}
