:host {
  max-height: calc(100vh - 4rem);

  position: relative;

  display: flex;
  flex-direction: column;

  > * {
    flex-shrink: 0;
  }
}

input[type="file"] {
  display: none;
}

span.hint, p.hint, p.warn {
  padding-top: 0.25rem;
  vertical-align: top;

  &.hint {
    color: #777;
  }

  &.warn {
    color: var(--error-light);
  }

  > mat-icon {
    margin-top: -0.25rem;
    margin-right: 0.5rem;
    display: inline-block;
    vertical-align: top;
  }
}

mat-dialog-content + mat-divider {
  margin-top: 1rem;
}

mat-dialog-content.photos {
  flex-basis: fit-content;
  flex-shrink: 1;
}

.progress {
  width: calc(100% - 1.5rem);

  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);

  display: flex;
  flex-direction: row;

  transition: width 250ms ease;

  mat-progress-bar {
    width: calc(100% * var(--progress));
  }

  mat-progress-bar.error {
    --mdc-linear-progress-active-indicator-color: var(--error);
  }
}

mat-expansion-panel {
  border-radius: 0;
  box-shadow: none !important;

  mat-panel-title mat-icon {
    margin-right: .5rem;
  }
}

mat-form-field {
  margin-top: 1rem;
  width: 100%;
}
