.album-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-between;

  > a {
    max-width: 480px;
    flex-grow: 1;
  }
}

.album-grid::after {
  content: '';
  width: 240px;
  height: 1px;

  display: block;
  flex-grow: 1;
  flex-shrink: 1;
}
