.actions {
  width: 100%;

  display: flex;
  justify-content: flex-end;

  padding: 1rem 0;
}

.grid-title {
  margin-top: 1rem;
  margin-bottom: -0.5rem;
  padding-bottom: 0;

  &:first-child { margin-top: 0; }
  span {
    font-size: 1rem;
  }
}

.empty {
  display: flex;
  align-items: center;

  font-size: 0.875rem;
  font-style: italic;

  svg {
    color: #1976d2;
    font-size: 3rem;

    margin-right: 1rem;
  }
}
